@import "../../app.component.scss";

.outer-container {
  display: flex;
  flex-direction: row;
  margin: 0px 32px;
  @media (min-width: 768px) {
    align-items: center;
  }
  @media (max-width: 768px) {
    margin: 32px 32px;
    flex-direction: column;
  }

  .progress-container {
    background: $background-grey;
    color: $secondary-color;
    padding: 2rem;
    display: flex;
    height: fit-content;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;

    .percentage {
      font-size: 3rem;
    }
  }

  .overview-container {
    margin: 8px 32px;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    @media (max-width: 768px) {
      margin: 10px 0px;
    }

    .card {
      width: 5rem;
      height: 3rem;
      background: $background-grey;
      border-radius: 8px;
      display: flex;
      padding: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .value {
        font-size: 2rem;
        color: $secondary-color;
      }

      .label {
        font-size: small;
      }
    }
  }

  .high-priority-list {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $ternary-color;
    max-height: 40vh;
    overflow-y: auto;
    @media (max-width: 768px) {
      margin-top: 32px;
    }

    .placeholder {
      display: flex;
      justify-content: center;
      font-style: italic;
      opacity: 0.7;
      margin-top: 16px;
    }

    .title {
      font-size: 1.2rem;
      font-weight: 500;
      background: $background-lightred;
      width: fit-content;
      color: $text-color-red;
      display: flex;
      padding: 8px;
      justify-content: center;
      @media (max-width: 768px) {
        width: auto;
      }
    }

    .task-item {
      padding: 16px;

      &:not(:last-child) {
        border-bottom: 1px solid $ternary-color;
      }
    }
  }
}
