<header class="header">
  <h1 class="title">Dashboard</h1>
</header>

<main class="outer-container">
  <!-- Overall progress percentage -->
  <section class="progress-container">
    <div class="percentage">{{ statsInfo.completionPercentage }}%</div>
    <div class="content">completed</div>
  </section>

  <!-- Current status of total/completed/pending tasks -->
  <section class="overview-container">
    <div class="card">
      <div class="value">{{ statsInfo.totalTasks }}</div>
      <div class="label">Total</div>
    </div>
    <div class="card">
      <div class="value">{{ statsInfo.completedTasks }}</div>
      <div class="label">Completed</div>
    </div>
    <div class="card">
      <div class="value">{{ statsInfo.pendingTasks }}</div>
      <div class="label">Pending</div>
    </div>
  </section>

  <!-- List of high priority tasks -->
  <section class="high-priority-list">
    <div class="title">High priority tasks</div>
    @if(highPriorityTasks.length){ @for(task of highPriorityTasks; track task) {
    <div class="task-item">
      <span class="pr-8">{{ $index + 1 }}.</span>{{ task.taskName }}
    </div>
    } }@else {
    <div class="placeholder">No high priority items</div>
    }
  </section>
</main>
