<div class="header">
  <h1 class="title">Tasks</h1>
  <div class="create-button"><i class="fa fa-plus pr-8"></i>New task</div>
</div>

<div class="tasks-list-container">
  @if(myTasks.length){ @for(task of myTasks; track task){
  <div class="task-item">
    <div class="task-title">
      {{ task }}
    </div>
    <div class="action-buttons">
      <div class="edit-button">
        <i class="fa fa-pencil"></i>
        Edit
      </div>
      <div class="delete-button" (click)="deleteTask($index)">
        <i class="fa fa-trash"></i>
        Delete
      </div>
    </div>
  </div>
  } } @else {
  <div class="placeholder">No tasks are available in the list</div>
  }
</div>
