@import "../../app.component.scss";

.tasks-list-container {
  max-height: 70vh;
  border: 1px solid $ternary-color;
  border-radius: 8px;
  padding: 32px;
  margin: 32px;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 768px) {
    max-height: 75vh;
    padding: 16px;
    margin: 16px 0px;
  }

  .task-item {
    padding: 16px;
    background: $background-grey;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: normal;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .task-title {
      align-items: center;
      gap: 8px;

      @media (max-width: 768px) {
        margin-top: 16px;
      }

      @media (min-width: 768px) {
        max-width: 80%;
      }

      input[type="checkbox"] {
        transform: scale(1.5);
        cursor: pointer;
      }

      .strikeout {
        text-decoration: line-through;
      }
    }
    .action-buttons {
      display: flex;
      gap: 24px;

      @media (max-width: 768px) {
        justify-content: flex-end;
        gap: 16px;
      }

      .edit-button {
        padding: 8px 8px;
        cursor: pointer;
        border-radius: 8px;
        color: $secondary-color;
        background: $background-lightblue;
        transition: all 0.2s linear;

        &:hover {
          background: $background-darkblue;
        }
      }

      .delete-button {
        padding: 8px 8px;
        border-radius: 8px;
        cursor: pointer;
        color: $text-color-red;
        background: $background-lightred;
        transition: all 0.2s linear;
        &:hover {
          background: $background-darkred;
        }
      }
    }
  }

  .placeholder {
    display: flex;
    justify-content: center;
    font-style: italic;
    opacity: 0.7;
  }
}
