@import "../styles.scss";

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color;
  padding-top: 20px;
  transition: all 0.3s linear;
  z-index: 999;

  &.hide {
    left: -200px;
  }

  button {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: $text-color;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    display: block;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }

    &.active {
      background-color: $secondary-color;
    }
  }
}

.main-content {
  margin-left: 200px;
  @media (max-width: 768px) {
    margin-left: 0px;
  }
  padding: 16px;

  .navMenuIcon {
    display: none;
    position: fixed;
    padding: 1rem;
    box-shadow: 0px 0px 10px $ternary-color;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    right: 16px;
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 32px 0px 32px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: start;
    margin: 0px;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 768px) {
      margin-top: 24px;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: -webkit-fill-available;
      gap: unset;
    }

    .sort-button {
      padding: 8px;
      border: 1px solid $ternary-color;
      border-radius: 8px;
      font-size: small;
      transition: all 0.1s linear;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
      }
    }

    .create-button {
      background: $secondary-color;
      color: $text-color;
      padding: 1rem;
      border-radius: 2rem;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.1s linear;

      @media (max-width: 768px) {
        font-weight: normal;
        padding: 0.5rem;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
