<nav class="sidenav" [ngClass]="{ hide: showNavMenu }">
  <button
    (click)="navigateTo('/dashboard')"
    [class.active]="router.url === '/dashboard'"
  >
    <i class="fas fa-tachometer-alt pr-8"></i>Dashboard
  </button>
  <button
    (click)="navigateTo('/tasks')"
    [class.active]="router.url === '/tasks'"
  >
    <i class="fas fa-tasks pr-8"></i>Tasks
  </button>
</nav>

<div class="main-content">
  <!-- Nav menu icon button for small screens -->
  <div class="navMenuIcon">
    @if(showNavMenu) {
    <i class="fas fa-bars fa-2x navIcon" (click)="toggleNavMenu()"></i>
    } @else {
    <i class="fas fa-times fa-2x navIcon" (click)="toggleNavMenu()"></i>
    }
  </div>

  <router-outlet></router-outlet>
</div>
