<div class="modal" role="dialog" aria-labelledby="modalTitle" aria-modal="true">
  <div class="modal-content">
    <!-- Close button -->
    <span class="close" (click)="onClose()" aria-label="Close">&times;</span>

    <!-- Dialog title -->
    <h1 class="title" id="modalTitle">
      {{ task ? "Edit Task" : "Create Task" }}
    </h1>

    <!-- Form inputs -->
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <textarea
          #textareaInput
          id="taskName"
          formControlName="taskName"
          type="text"
          placeholder="Enter detailed description here..."
          [ngClass]="{
            'error-outline':
              taskForm.get('taskName')?.invalid &&
              taskForm.get('taskName')?.touched
          }"
        ></textarea>

        <button
          type="submit"
          class="save-button"
          [disabled]="taskForm.invalid"
          [ngClass]="{ 'pointer-none': taskForm.invalid }"
        >
          {{ task ? "Save" : "Create" }}
        </button>
      </div>
    </form>
  </div>
</div>
