@import "../../../styles.scss";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: $text-color;
  padding: 32px;
  border-radius: 8px;
  width: 30%;
  position: relative;

  @media (max-width: 768px) {
    width: 75%;
  }

  .form-container {
    gap: 16px;
    display: flex;
    flex-direction: column;

    textarea {
      min-height: 80px;
      font-size: 1rem;
      width: -webkit-fill-available;
      padding: 8px;
      border-radius: 8px;

      &.error-outline {
        border: 1px solid $text-color-red;
      }
    }

    .priority-container {
      display: flex;
      align-items: baseline;
      gap: 8px;

      select {
        padding: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 8px;
      }
    }

    .save-button {
      width: fit-content;
      padding: 8px;
      border: none;
      align-self: flex-end;
      border-radius: 8px;
      background: $secondary-color;
      color: $text-color;
      cursor: pointer;
    }
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 2rem;
  padding: 8px 16px;
}
