/* Color pallette */
$primary-color: #112d4e;
$secondary-color: #3f72af;
$ternary-color: #dbe2ef;
$text-color: #f9f7f7;

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  &.title {
    margin-top: 8px;
    color: $primary-color;
  }
}

.pr-8 {
  padding-right: 8px;
}
